* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  max-height:100%;
  width: 375px;
  margin:auto;
}

/* Status bar + nav bar*/
header {
  width:100%;
  background-color:#53989B;
  height:65px;
}

.status-bar {
  background-color:#53989B;
  padding-top:5px;
  height:15px;
  font-family:'Open Sans', sans-serif;
}

.arrow, .title, .location, .settings {
  display:inline-block;
}

h1 { /* Titel/name of bus stop */
  font-size:1.8em;
  font-family: 'PT Sans', serif;
  color:#ffffff;
}

.arrow {
  float:left;
  margin: 15px 0 0 20px;
}

.title {
  margin: 15px 0 0 76px;
}

.settings, .location {
  float:right;
}

.settings {
  margin: 15px 20px 0 9px;
}

.location {
  margin: 15px 0 0 0;
}

/* Map */
.map-view {
  position:relative;
  z-index:0;
}

.zoom {
  position:relative;
  float:right;
  margin:-70px 20px 0 0;
}

h2 {/* For headers and some of bus info. */
  font-size:1.5em;
}

.heading {
  background-color:#B2CEC4;
  font-family: 'Source Sans Pro', serif;
  font-weight:600;
  color:#005B50;
  width:375px;
  height:38px;
  margin-top:-2px;
  display:grid;
  position:relative;
}

.bus-info {
  background-color:#F8F9FB;
  width:100%;
  height:341.5px;
  font-family: 'Source Sans Pro', serif;
  overflow-y: scroll;
  display:inline-grid;
}

/* Headers */
.bus-number {
  grid-column:1;
  margin: 10px 0 0 20px;
}

.destination {
  grid-column:2;
  text-align:left;
  margin:10px 0 0 5px;
}

.frequency {
  grid-column:3;
  text-align:right;
  margin: 10px 20px 0 0;
}

/* Table of buses (numbers indicate row) */

.bus-info li {
  height:50px;
  width:100%;
  display:inline-block;
  border-bottom:1px solid #CCCCCC;
}

.number {
  background-color:#DB7452;
  color:#ffffff;
  width:50px;
  height:30px;
  float:left;
  margin:10px 20px 12px 20px;
  padding:5px;
  border-radius:10px;
  font-size:1.8em;
  text-align:center;
}

.end-stop {
  width:150px;
  float:left;
  padding:9px 0px 0 3px;
}

.direction {
  font-size:1.2em;
  padding-top:3px
}

.time {
  float:right;
  font-size:1.5em;
  padding:15px 20px 0 0;
}

.reroute .direction, .reroute .time {
  color:#DB7452;
}

.service-out .end-stop, .service-out .direction, .service-out .time {
  color:#737373;
}

/* Tab bar */
.tab-bar {
  background-color:#53989B;
  position: relative;
  height:50px;
}

.to-map, .to-alerts, .to-directions {
  display:inline-block;
  text-align: center;
  padding-right:70px;
  padding-top:6px;
}

.to-map {
  padding-left:58px;
}

.to-directions {
  padding-right:45px;
}

.tab-bar, a { /* Icon + description */
  color:#ffffff;
  font-family: 'PT Sans', serif;
  font-size:1.2em;
  text-decoration:none;
}
